<!DOCTYPE html>
<html lang="en">
    <head>
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <!-- Tell the browser to be responsive to screen width -->
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>Home | Crime Tracker</title>
            <!-- Favicon icon -->
            <link rel="icon" type="image/png" sizes="16x16" href="/images/police-handcuffs.png" >
            <!-- Custom CSS -->
            <link rel="stylesheet" href="style.css">
            <link href="plugins/bower_components/chartist/dist/chartist.min.css" rel="stylesheet">
            <link rel="stylesheet" href="plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.css">
            <link rel='stylesheet' type='text/css' href='https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.20.0/maps/maps.css'/>
            <script src='https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.20.0/maps/maps-web.min.js'></script>
            <!-- Custom CSS -->
            <link href="css/style.min.css" rel="stylesheet">
            <script src="https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.20.0/maps/maps-web.min.js"></script>
            <script>(function(){ window.SS = window.SS || {}; SS.Require = function (callback){ if (typeof callback === 'function') { if (window.SS && SS.EventTrack) { callback(); } else { var siteSpect = document.getElementById('siteSpectLibraries'); var head = document.getElementsByTagName('head')[0]; if (siteSpect === null && typeof head !== 'undefined') { siteSpect = document.createElement('script'); siteSpect.type = 'text/javascript'; siteSpect.src = '/__ssobj/core.js+ssdomvar.js+generic-adapter.js';siteSpect.async = true; siteSpect.id = 'siteSpectLibraries'; head.appendChild(siteSpect); } if (window.addEventListener){ siteSpect.addEventListener('load', callback, false); } else { siteSpect.attachEvent('onload', callback, false); } } } };})(); </script>
        </head>
        <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <!-- Topbar header - style you can find in pages.scss -->
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin6">
                    <!-- Logo -->
                    <a class="navbar-brand" href="/home">
                        <b class="logo-icon">
                            <!-- Dark Logo icon -->
                            <img src="images/police-handcuffs.png" alt="homepage" width="50" height="50"/>
                        </b>
                        <span class="logo-text">
                            <!-- dark Logo text -->
                            <img src="images/images.jpg" alt="homepage" />
                        </span>
                    </a>
                </div>
            </nav>
        </header>
        </div>
    </head>

    <body>
        <div id='map'></div>
       
        <input type="hidden" id="loc" value=<%= loc %>> 
        <input type="hidden" id="des" value=<%= des %>> 
        <script>
        
           var loc = document.getElementById('loc').value;
           var des = document.getElementById('des').value;
           var currentLocation = loc.split(',');
           console.log(currentLocation);
           for(var i = 0; i < currentLocation.length; i++){
                var cord = currentLocation[i].split(';');
                var temp= parseFloat(cord[0]);
                cord[0] = parseFloat(cord[1]);
                cord[1] = temp;
                currentLocation[i] = cord;
           };
           var crimes = des.split(',');
            var map = tt.map({
                container: 'map',
                key: 'BoLC9waGtIqMa7OF8GeW1E7cdODwiohH',
                center: currentLocation[0],
                zoom: 15
            });
            for(var i = 0; i < currentLocation.length; i++){
                var marker = new tt.Marker().setLngLat(currentLocation[i]).addTo(map);
                console.log(currentLocation[i]);
                var popupOffsets = {
                    top: [0, 0],
                    bottom: [0, -70],
                    'bottom-right': [0, -70],
                    'bottom-left': [0, -70],
                    left: [25, -35],
                    right: [-25, -35]
                }

                var popup = new tt.Popup({offset: popupOffsets}).setHTML(crimes[i]);
                marker.setPopup(popup).togglePopup();
            }
            // import express from 'express'
            // const express = require('express');
            // const mongoose =require('mongoose');
            // const app= express();
            // const ejs =require('ejs');

            // app.set('view engine','ejs');
            // mongoose.connect('mongodb+srv://apiwemacingwane-user:<password>@cluster0.qwaupt4.mongodb.net/crime?retryWrites=true&w=majority');
            // app.get('/',(req,res) => {
            //     res.send('working')
            // })
            
            
        </script>
        <div>
            <%- include('partials/footer') %> 
        </div>
    </body>
</html>